@font-face{
    font-family: fonte;
    src: url(../fontes/COPRGTB.TTF);
}

*{
    font-family: fonte;
}

/* ######################## CONTEUDO ########################*/

#conteudo{
    width: inherit;
    min-height: 600px;
    max-height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: black;
}

#titulo-destaque{
    width: inherit;
    height: 80px;
    text-align:center;
    font-size: 45px;
    font-family: fonte;
    box-sizing: border-box;
    padding-top: 15px;
}

#caixa-ator-destaque{
    width: inherit;
    height: 400px;
}

#img-ator-destaque{
    width: 485px;
    height: 400px;
    background-color: aliceblue;
    float: left;
}

#informacoes-ator{
    width: 425px;
    height: 400px;
    box-sizing: border-box;
    padding-left: 60px;
    padding-top: 35px;
    float: left;
    margin-left: 15px;
}

#informacoes-ator:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#detalhes-ator-destaque{
    width: 435px;
    height: 400px;
    float: left;
    box-sizing: border-box;
    padding-top: 50px;
    margin-left: 20px;
}

.itens-detalhes{
    width: inherit;
    height: 100px;
    font-family: fonte;
    font-size: 25px;
    box-sizing: border-box;
    padding-top: 35px;
    text-align:center;
    border-top: solid 1px #52D9FF;
    border-bottom: solid 1px #52D9FF;
}

.itens-detalhes p{
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
}

.itens-detalhes:hover{
    cursor: pointer;
    padding-top: 20px;
}

.itens-detalhes:hover p{
    box-sizing: border-box;
    padding-top: 15px;
    opacity: 1;
    visibility: visible;
}

#caixa-atores{
    width: inherit;
    min-height: 1000px;
    max-height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 35px;
    background-color: black;
}

#atores{
    width: 1350px;
    min-height:470px;
    max-height: auto;
    overflow: hidden;
    border: solid 1px #52D9FF;
    margin-top: 20px;
    margin-left: 25px;
    box-sizing: border-box;
    padding-bottom: 15px;
}

#titulo-atores{
    width: 420px;
    height: 40px;
    background-color: black;
    font-size: 30px;
    font-family: fonte;
    margin-left: 50px;
    position: absolute;
    box-sizing: border-box;
    padding-top: 5px;
    text-align:center;
}

.imagens-atores{
    width: inherit;
    height: 410px;
    box-sizing: border-box;
    padding-top:35px;
    margin-left: 40px;
}

/*####### EFEITO FLIP ########*/

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 360px;
    margin-left: 14px;
    float: left;
    perspective: 1000px;/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
    cursor: pointer;
}

/* Position the front and back side */
.img-atores, .texto-atores {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.img-atores{
    width:inherit;
    height: inherit;
    background-color: aqua;
    float: left;
}

.texto-atores{
    background-color: black;
    width: 300px;
    height: 360px;
    transform: rotateY(180deg);
    border: solid 1px #52D9FF;
}

.nome-ator{
    width: inherit;
    height: 40px;
    background:linear-gradient(to bottom, #44B8D1 5%, #4ACAE5  100%);
    font-family: fonte;
    font-size: 25px;
    box-sizing: border-box;
    padding-top: 8px;
    text-align:center;
}

.info-atores{
    margin-top: 10px;
    margin-left: 8px;
    box-sizing: border-box;
    padding-bottom:10px;
    font-family: fonte;
    font-size: 20px;
}

.informacoes{
    width: 280px;
    font-family: fonte;
    font-size: 18px;
    text-align:center;
    border-bottom: solid 1px #52D9FF;
    margin-top: 5px;
    margin-left: 7px;
    box-sizing: border-box;
    padding-bottom:10px;
}

#container-biografia, #container-filmografia{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 999;
    box-sizing: border-box;
    padding-top: 160px;
    display: none;
}

#modal-biografia, #modal-filmografia{
    width: 1000px;
    min-height: 700px;
    max-height: auto;
    overflow: hidden;
    background-color: black;
    margin-top: -80px;
    border: solid 1px #52D9FF;
}

.fechar-modal{
    width: 40px;
    height:40px;
    background-color: #52D9FF;
    background-image: url(../img/close.png);
    background-size: cover;
    border-radius: 10px;
    margin-left: 950px;
    margin-top: 5px;
    position: fixed;
}