#caixa-footer{
    width: 1200px;
    height: 150px;
    box-sizing: border-box;
    padding-left: 70px;
}

.info-footer{
    width: 270px;
    height: 160px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.titulo{
    font-size: 16px;
    font-family: fonte;
}

.lista-footer{
    font-size: 14px;
    font-family: fonte;
    list-style: none;
    margin-left: 10px;
}

.lista-site{
    width: 110px;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 5px;
    border-bottom: solid 1px #52D9FF;
}

.lista-contato{
    margin-top: 5px;
}

.lista-endereco{
    margin-top: 5px;
}

#caixa-icones{
    width: 220px;
    height: 50px;
    float: left;
    margin-top: 50px;
    margin-left: 70px;
    box-sizing: border-box;
    padding-left: 13px;
}

.icones-footer{
    width: 50px;
    height: inherit;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#fim-footer{
    width: inherit;
    height: 40px;
    background-color: #202123;
    text-align: center;
    box-sizing: border-box;
    padding-top: 11px;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 50px;
    font-family: fonte;
}
